<header class="mt-header">
    <nav class="navbar navbar-expand-md navbar fixed-top bg-primary">
      <div class="container">
         <a routerLink="/" routerLinkActive="active" class="navbar-brand" title="Metrô">
             <img src="../../assets/image/metro-logo.gif" alt="Metrô">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>        
      </div>
    </nav>
  </header>