<div class="container mt-conteudo">
    
    <div class="fale-conosco">
        <nav aria-label="breadcrumb" >
            <ol class="breadcrumb" >
              <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Fale Conosco</li>
            </ol>
          </nav>
          
        <div class="container fale-conosco__box">
  
            <!-- Three columns of text below the carousel -->
            <div class="row ">
                <div class="col-lg-5 fale-conosco__box-item">                
                    <div class="row">
                        <div class="col-lg-2">
                                <img src="../../assets/image/registro-manifestacao-destaque.gif" alt="Registro da manifestação">                
                        </div>
                        <div class="col-lg-10">
                            <h4>Registro da manifestação</h4>
                            <a href="#">Clique aqui para digitar sua solicitação de informação, sugestão, reclamação ou elogio.</a>                
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 fale-conosco__box-item">                
                    <div class="row">
                        <div class="col-lg-2">
                            <img src="../../assets/image/consulta-registro-destaque.gif" alt="Consulta do registro da manifestação">
                        </div>
                        <div class="col-lg-10">
                            <h4>Consulta do registro da manifestação</h4>
                            <a href="#">Consulte sua manifestação pelo número do protocolo.</a> 
                        </div>
                    </div>
                </div>

                <div class="col-lg-5     fale-conosco__box-item">                
                    <div class="row">
                        <div class="col-lg-2">
                            <img src="../../assets/image/consulta-registro-destaque.gif" alt="Consulta do registro da manifestação">
                        </div>
                        <div class="col-lg-10">
                            <h4>Chat</h4>
                            <a href="#">Conversar com nossos atendentes.</a>                                  
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>