<div class="container mt-conteudo">
    <nav aria-label="breadcrumb" >
        <ol class="breadcrumb" >
          <li class="breadcrumb-item"><a routerLink="/" routerLinkActive="active">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Chat</li>
        </ol>
      </nav>
      <div class="container  mt-chat">
        <iframe src='https://webchat.botframework.com/embed/pucbotrabalhofinal?s=Il4qCG0fF24.izdzcmpnsxGNRs0urViyrZrCedFl6nPc1w4SpyNpVig' style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
    </div>
</div>